.benefits-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.benefits-card-container .single-benefit {
    background: #E6E7E8;
    border-radius: 5px;
    text-align: right;
    margin: 10px 0;
    font-size: 19px;
    padding: 5px 8px;
    width: 100%;
}