/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .bm-item {
        display: inline-block;
        padding: 5px 0;
        color: #2194d3;
        text-decoration: none;
        border-bottom: 1px solid #bbbbbb;
        font-size: 1.3em;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
