#company-page-component {
    background-color: #E6E7E8;
}

#company-page-component .company-page-loader {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}
#company-page-component .company-page-loader > div {
    display: flex;
    align-items: center;
}

#company-page-component .company-page-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#company-page-component .company-page-main-container .section {
    display: flex;
    background-color: white;
}

#company-page-component .company-page-main-container .section.cover-container {
    overflow: hidden;
    max-height: 48vh;
    padding-bottom: 1%;
}
#company-page-component .company-page-main-container .section.cover-container > img {
    width: 100%;
    object-fit: cover;
}

#company-page-component .company-page-main-container .section.details {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#company-page-component .company-page-main-container .section.details .company-logo-container {
    /*flex: 1;*/
    /*max-width: 350px;*/
    display: flex;
    justify-content: flex-start;
}
#company-page-component .company-page-main-container .section.details .company-logo-container > img {
    max-width: 140px;
    max-height: 100%;
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 7vw;
}

#company-page-component .company-page-main-container .section.details .company-general-details-container > div:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
}

#company-page-component .company-page-main-container .section.headline {
    justify-content: center;
    background: #DEDEDE;
    font-size: 1.7em;
    font-weight: bold;
    padding: 13px 0;
}

#company-page-component .company-page-main-container .section.career {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /*padding-bottom: 0;*/
}

#company-page-component .company-page-main-container .section.cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*justify-content: center;*/
    background: #E6E7E8;
    padding: 0 18% 2%;
}
