/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #company-page-component .company-page-main-container .section.cards {
        justify-content: space-between;
    }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #company-page-component .company-page-main-container .section.details {
        padding: 0 17% 1%;
        flex-direction: row;
        text-align: start;
    }
    #company-page-component .company-page-main-container .section.career {
        padding: 2% 17% 1%;
    }
    #company-page-component .company-page-main-container .section.cards {
        justify-content: space-between;
        padding: 0 17% 2%;
    }
    #company-page-component .company-page-main-container .section.details .company-logo-container {
        justify-content: flex-start;
    }
    #company-page-component .company-page-main-container .section.details .company-general-details-container {
        margin: auto;
    }
    #company-page-component .company-page-main-container .section.headline {
        font-size: 1.7em;
    }
}
