.gallery-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery-card-container .gallery-img {
    max-height: 200px;
    margin: 0 auto;
    border-radius: 5px;
}