@media screen and (max-width: 35.49em) {
    .job-card {
        flex: 1 0 75%;
    }
    .job-card .body .company-details .logo {
        width: auto;
    }
    .job-card:nth-child(3n+1) {
        margin-right: 1.25%;
    }
}

/*
    ##Device = portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
    ##Screen = B/w 641px
*/
@media screen and (min-width: 35.5em) {
    .job-card {
        flex: 1 0 75%;
    }
    .job-card .body .company-details .logo {
        width: auto;
    }
    .job-card:nth-child(3n+1) {
        margin-right: 1.25%;
    }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media screen and (min-width: 48em) {
    .job-card {
        flex: 1 0 auto;
    }
}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media screen and (min-width: 64em) {
    .job-card {
        flex: 0 0 47.5%;
    }
    .job-card .body .company-details .logo {
        width: auto;
    }
}

@media screen and (min-width: 80em) {
    .job-card {
        flex: 0 0 32.5%;
    }
    .job-card:nth-child(3n+1) {
        margin-right: 0;
    }
    .job-card .body .company-details .logo {
        width: auto;
    }
}
