.job-card {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    max-height: 14.8vh;
    height: 14.8vh;
    flex: 1 0 75%;
    margin: 1.25% 1.5%;
    padding: 5px 10px;
    border: 2px solid #2194CE;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: box-shadow .2s, border-color .2s, margin .5s linear, opacity .5s;
    transition: box-shadow .2s, border-color .2s, margin .5s linear, opacity .5s;
}
.job-card:hover {
    box-shadow: 0 2px 0 0 #2194d3;
}

.job-card .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.job-card .header .info {
    font-size: 0.6em;
    color: #ababab;
    text-shadow: 0 0 0 #ababab;
}
.job-card .header .info > span:first-child {
    margin-left: 4px;
}

.job-card .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.job-card .body .company-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 36%;
    height: 100%;
}
.job-card .body .job-details {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.job-card .body .company-details .logo {
    display: flex;
    flex: 1 1;
    width: 65%;
    height: auto;
    border: 1px solid #ababab;
    border-radius: 5px;
    padding: 3%;
    margin: 10px 0;
}

.job-card .body .company-details .company-name {
    /*margin: 5px 0;*/
    line-height: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-card .body .job-details .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5.7em;
    overflow: hidden;
    white-space: normal;
}

.job-card .body .job-details .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.job-card .body .job-details .details .detail-container {
    display: inline-block;
    /*width: 49.5%;*/
    margin-top: 5px;
    line-height: 1em;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-card .body .job-details .details .detail-container .location-industry-icon,
.job-card .body .job-details .details .detail-container .location-industry-icon ~ div {
    display: inline-block;
}