/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .job-card {
        flex: 0 0 47%;
        max-height: 31.8vh;
        height: 13.8vh;
    }
    .job-card .body .company-details .logo {
        width: auto;
    }
    .job-card .header .info {
        font-size: 0.7em;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .job-card {
        flex: 0 0 47%;
        max-height: 31.8vh;
        height: 31.8vh;
    }
    .job-card .body .company-details .logo {
        width: auto;
    }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    .job-card {
        flex: 0 0 32.5%;
        margin: 0 1.25% 1.25% 0;
    }
    .job-card:nth-child(3n+1) {
        margin-right: 0;
    }
    .job-card .body .company-details .logo {
        width: auto;
    }
}
