#root-app {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

#root-app .body-container {
    flex: 1 0 auto;
}

#root-app .header-container {
    flex: none;
    width: 100%;
}
#root-app .footer-container {
    /* flex: none; */
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
}
