/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #homepage-component .universities-container, #homepage-component .collages-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /*padding: 15px;*/
    }

    #homepage-component .advantages-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #F9B24A;
        padding: 30px 0;
    }


}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #homepage-component .universities-container, #homepage-component .collages-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /*padding: 0px 100px;*/
    }

    #homepage-component .advantages-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #F9B24A;
        padding: 30px 100px;

        overflow: hidden;
        height: auto;
        max-height: 1600px;
        transition: max-height ease-in .2s;
    }

    #homepage-component .advantages-list-container.hidden {
        max-height: 0px;
    }
}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #homepage-component .universities-container, #homepage-component .collages-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /*padding: 0px 260px;*/
    }

    #homepage-component .welcome-msg {
        font-size: 2.5em;
    }

    /* #homepage-component .advantages-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #F9B24A;
        padding: 30px 100px;
    } */

    #homepage-component .advantages-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #F9B24A;
        padding: 30px 0px;

        overflow: hidden;
        height: auto;
        max-height: 1200px;
        margin-top: 3%;
        transition: max-height ease-in .5s;
    }

    #homepage-component .advantages-list-container.hidden {
        max-height: 0px;
    }

    #homepage-component #slide-in-container .sliding-rect-container {
        display: flex;
        flex-direction: row;
    }

    #homepage-component #slide-in-container .title {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.6em;
        padding: 0 10px 20px 0;
    }
}
