#homepage-component {}

#homepage-component .universities-container, #homepage-component .collages-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0 6%;
}


#homepage-component .single-university-container {
    display: flex;
    margin: 10px 17px;
}
#homepage-component .universities-container .single-university-container {
    margin: 10px 17px;
}
#homepage-component .welcome-msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 10px 0;
    margin-bottom:2% 0 2% 0 ;
}

#homepage-component .welcome-msg {
    font-size: 1.5em;
}
#homepage-component .welcome-msg > span > span {
    color: #2194d3;
    font-weight: bold;
}

#homepage-component .read-more-btn {
    width: 120px;
    margin: 20px;
}

#homepage-component .advantages-list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F9B24A;
    padding: 30px 0;

    overflow: hidden;
    height: auto;
    max-height: 2200px;
    transition: max-height linear 2s;
}

#homepage-component .advantages-list-container.hidden {
    /* display: none; */
    max-height: 0px;
}
#homepage-component .uni-img{
    width: 100%;
    height: 100%;
    display: block;
}

#homepage-component #slide-in-container {
    background-color: #d6d6d6;
    padding: 30px 0;
    margin-top: 30px;
    overflow-x: hidden;
}

#homepage-component #slide-in-container .sliding-rect-container {
    display: flex;
    flex-direction: column;
}

#homepage-component #slide-in-container .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    padding: 0 10px 20px 0;
}

#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner {
    display: flex;
    height: 300px;
    margin: 10px 0;
    box-shadow: 0px 2px 10px 0px #454545;
    transition: box-shadow linear 0.1s;
}
#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner:hover {
    box-shadow: 0px 4px 10px 2px #454545;
}

#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner#employers {
    background-color: #FAB047;
    display: block;
    width: 100%;
}

#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner#students {
    background-color: #2194D3;
    display: block;
    width: 100%;
}

#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner .sliding-rect-container-inner-icon-students {
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 1.6em;
    color: #FFFFFF;
}
#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner .sliding-rect-container-inner-icon-students a {
    color: #FFFFFF ;
}
#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner .sliding-rect-container-inner-icon-employers {
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 1.6em;
    color: #000000;
}
#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner .sliding-rect-container-inner-icon-employers a {
    color: #000000;
}
#homepage-component #slide-in-container .sliding-rect-container .sliding-rect-container-inner .sliding-rect-container-inner-icon {
    width: 30%;
}
.not-visible {
    visibility: hidden;
}
.no-text {
    text-decoration: none;
}
.slide-in-right {
    -webkit-animation-name: slide-in-right;
    animation-name: slide-in-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slide-in-left {
    -webkit-animation-name: slide-in-left;
    animation-name: slide-in-left;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide-in-right {
    0% {
        /* -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible; */
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        /* -webkit-transform: translateX(0);
        transform: translateX(0); */
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slide-in-right {
    0% {
        /* -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible; */
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        /* -webkit-transform: translateX(0);
        transform: translateX(0); */
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        /* -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible; */
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100% {
        /* -webkit-transform: translateX(0);
        transform: translateX(0); */
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slide-in-left {
    0% {
        /* -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible; */
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100% {
        /* -webkit-transform: translateX(0);
        transform: translateX(0); */
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
