/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #page-main-title-component .page-logo-container img {
        width: 150px;
        height: 150px;
    }

    #page-main-title-component .title {
        font-size: 1.7em;
        font-weight: bold;
        color: white;
        margin-top: 15px;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #page-main-title-component .title-container {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 450px;
    }

    #page-main-title-component .page-logo-container img {
        width: 150px;
        height: 150px;
    }

    #page-main-title-component .title {
        font-size: 2.1em;
        font-weight: bold;
        color: white;
        margin-top: 15px;
    }
}
