#main-intro-component {}

#main-intro-component .message-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2194d3;
}

#main-intro-component .academe-logo-container {
    display: flex;
    align-self: center;
}

#main-intro-component .message {
    font-size: 1.3em;
    color: white;
    margin-top: 15px;
}
