#employers-page-component .publish-job-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#employers-page-component .publish-job-form-container .form-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

#employers-page-component .hiring-companies-list-container {
    margin: 30px 0;
}

#employers-page-component .hiring-companies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EFEFEF;
    padding: 15px;
}

#employers-page-component .hiring-companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: auto;
    max-height: 1720px;
    transition: max-height ease-in .5s;
}

#employers-page-component .hiring-companies-list .title {
    display: block;
    border-bottom: 1px solid black;
    font-size: 0.9em;
    margin-bottom: 10px;
    padding: 3px;
}

#employers-page-component .hiring-companies-list-container .expand-button {
    display: block;
    background-color: #2194d3;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 10px 13px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
    box-shadow: 0px 0px 0px 8px white;
}

#employers-page-component .hiring-companies-list-container .expand-button:hover {
    background-color: #1b80b7;
}

#employers-page-component .company-img-container {
    /* width: 100%; */
    margin: 30px 50px;
}
#employers-page-component .company-img-container:last-of-type {
    margin: 30px 50px 60px;
}

/* #employers-page-component .company-img-container.collapsed {
    display: none;
} */
#employers-page-component .hiring-companies-list.expanded .company-img-container {
    display: block;
}
#employers-page-component .hiring-companies-list.expanded .hiring-companies {
    max-height: 5070px;
}

#employers-page-component .continue-button {
    margin: 15px;
}

#employers-page-component .pre-wrap-text {
    white-space: pre-wrap;
}

#employers-page-component .publish-job-form-container .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#employers-page-component .publish-job-form-container .button-container #publish-job-loading-spinner {
    display: none;
}
#employers-page-component .publish-job-form-container .button-container.show-spinner #publish-job-loading-spinner {
    display: inline-block;
}

#employers-page-component .redirect-link-container,
#employers-page-component .no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    font-size: 1.1em;
    overflow: hidden;
    max-height: 0;
    height: auto;
    transition: max-height ease-out 0.3s;
}
#employers-page-component .expend-results.redirect-link-container {
    max-height: 20px;
}
#employers-page-component .expend-results.no-results-container {
    max-height: 50px;
}

#employers-page-component .redirect-link-container #academe-link,
#employers-page-component .no-results-container #signup-link {
    color: #2194d3;
    cursor: pointer;
    text-decoration: underline;
}

#employers-page-component .no-results-container #no-results {
    color: #ca3c3c;
}
