/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #employers-page-component .advantages-container {
        padding: 0 80px;
    }

    #employers-page-component .hiring-companies-list .title {
        display: block;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding: 3px;
        font-size: 1.1em;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #employers-page-component .advantages-container {
        padding: 0 250px;
    }

    #employers-page-component .hiring-companies-list .title {
        display: block;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding: 3px;
        font-size: 1.2em;
    }
}
