/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #employers-page-component .publish-job-form-container {
        display: flex;
    }

    #employers-page-component .advantages-container {
        padding: 0 80px;
    }

    #employers-page-component .hiring-companies-list .title {
        display: block;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding: 3px;
        font-size: 1.1em;
    }

    #employers-page-component .hiring-companies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        height: auto;
        max-height: 500px;
        transition: max-height ease-in .2s;
    }
    #employers-page-component .hiring-companies-list.expanded .hiring-companies {
        max-height: 2200px;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #employers-page-component .publish-job-form-container {
        display: flex;
    }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #employers-page-component .publish-job-form-container {
        display: flex;
    }

    #employers-page-component .hiring-companies-list .title {
        display: block;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding: 3px;
        font-size: 1.1em;
    }

    #employers-page-component .hiring-companies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        height: auto;
        max-height: 530px;
        transition: max-height ease-in .2s;
    }
    #employers-page-component .hiring-companies-list.expanded .hiring-companies {
        max-height: 1480px;
    }
}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #employers-page-component .publish-job-form-container {
        display: flex;
    }

    #employers-page-component .advantages-container {
        padding: 0 250px;
    }

    #employers-page-component .hiring-companies-list .title {
        display: block;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding: 3px;
        font-size: 1.2em;
    }

    #employers-page-component .hiring-companies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        height: auto;
        max-height: 300px;
        transition: max-height ease-in .2s;
    }
    #employers-page-component .hiring-companies-list.expanded .hiring-companies {
        max-height: 900px;
    }

    #employers-page-component .redirect-link-container,
    #employers-page-component .no-results-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        font-size: 1.1em;
        overflow: hidden;
        max-height: 0;
        height: auto;
        transition: max-height ease-out 0.3s;
    }
    #employers-page-component .expend-results.redirect-link-container {
        max-height: 20px;
    }
    #employers-page-component .expend-results.no-results-container {
        max-height: 50px;
    }

    #employers-page-component .redirect-link-container #academe-link,
    #employers-page-component .no-results-container #signup-link {
        color: #2194d3;
        cursor: pointer;
        text-decoration: underline;
    }

    #employers-page-component .no-results-container #no-results {
        color: #ca3c3c;
    }
}
