/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #students-page-component .sub-title div {
        font-size: 2.5em;
        font-weight: bold;
    }
    #students-page-component .sub-title div:nth-child(2) {
        font-size: 1.7em;
        font-weight: bold;
        color: #2194d3;
    }

    #students-page-component .sub-title div#chevron {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 5px 0;
    }

    #students-page-component .sub-title div#chevron img {
        width: 60px;
    }

    #students-page-component .universities-container .icon-container {
        margin: 5px 30px;
    }

    #students-page-component .colleges-container .icon-container {
        margin: 5px 15px;
    }

    #students-page-component .colleges-container button {
        width: 120px;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #students-page-component .colleges-container button {
        width: 100px;
    }
}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #students-page-component .students-container {
        height: 490px;
    }

    #students-page-component .sub-title div {
        font-size: 3em;
        font-weight: bold;
    }
    #students-page-component .sub-title div:nth-child(2) {
        font-size: 2.1em;
        font-weight: bold;
        color: #2194d3;
    }

    #students-page-component .sub-title div#chevron {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px 0 30px 0;
    }

    #students-page-component .sub-title div#chevron img {
        width: 75px;
    }

    #students-page-component .universities-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 0 20px 0;
        padding: 0px 80px;
    }

    #students-page-component .colleges-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 0 20px 0;
        padding: 0px 220px;
    }

    #students-page-component .universities-container .icon-container {
        margin: 5px 30px;
    }

    #students-page-component .colleges-container .icon-container {
        margin: 5px 45px;
    }

    #students-page-component .colleges-container button {
        width: 120px;
    }

    /* #students-page-component .other-button-container button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100px;
    } */
}
