#students-page-component {}

#students-page-component .sub-title {
    text-align: center;
    margin: 20px 0 10px 0;
}

#students-page-component .sub-title div {
    font-size: 1.3em;
    font-weight: bold;
}
#students-page-component .sub-title div:nth-child(2) {
    color: #2194d3;
}
#students-page-component .sub-title div#chevron {
    font-size: 3em;
    color: #2194d3;
}

#students-page-component .universities-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
}

#students-page-component .universities-container img {
    flex: auto;
    margin: 5px;
}

#students-page-component .universities-container img.uni-icon {
    width: 100%;
}

#students-page-component .other-button-container {
    display: flex;
    margin: 10px 0 30px;
}
#students-page-component .other-button-container button {
    margin: 0 auto;
    width: 100px;
}



/* #students-page-component .sub-title div#chevron {
    font-size: 3em;
    color: #2194d3;
    font-weight: normal;
    transform: rotate(270deg);
} */
