/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .testimonials-card-container .testimonial-row.file > img {
        height: 12.8vh;
        width: 14.25vw;
    }

}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .testimonials-card-container .testimonial-row.file > img {
        width: 12.25vw;
    }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .testimonials-card-container .testimonial-row.file > img {
        width: 12.25vw;
    }
}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

}
