/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #footer-component .footer-text .text {
        display: flex;
        align-self: center;
        color: white;
        font-size: 1em;
        font-weight: bold;
        border-left: 1px solid white;
        padding-left: 10px;
    }

    #footer-component .social .icon {
        color: white;
        font-size: 3em;
    }

    #footer-component .logo-container .academe-logo {
        width: 25px;
    }

    #footer-component .logo-container .title {
        margin-left: 5px;
        font-size: 1em;
        font-weight: bold;
        color: white;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #footer-component .container {
        display: flex;
        flex-direction: row;
        background-color: #4C4C4C;
        padding: 30px 20px;
        margin-top: 60px;
    }

    #footer-component .social .icon {
        color: white;
        font-size: 3em;
    }

    #footer-component .footer-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #footer-component .footer-text .text {
        display: flex;
        align-self: center;
        color: white;
        font-weight: bold;
        font-size: 2em;
        border-left: 1px solid white;
        padding-left: 10px;
    }

    #footer-component .logo-container .academe-logo {
        width: 40px;
    }

    #footer-component .logo-container .title {
        margin-left: 5px;
        font-weight: bold;
        font-size: 2em;
        color: white;
    }
}
