.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carousel-container .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: flex-start;*/
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;  /* hides the scrollbar on firefox */
    height: 35vh;
    width: 100%;
    position: relative;
}
.carousel-container .carousel::-webkit-scrollbar {  /* hides the scrollbar on chrome */
    display: none;
}

.carousel-container .carousel-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.carousel-container .carousel-control .navarrow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.carousel-container .carousel-control .navarrow-container.right {
    justify-content: flex-start;
}
.carousel-container .carousel-control .navarrow-container.left {
    justify-content: flex-end;
}

.carousel-container .carousel-control .navarrow-container .navarrow {
    border-radius: 50%;
    border: none;
    background-color: #a7a9ac;
    width: 45px;
    height: 45px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: opacity ease-in 125ms;
}
.carousel-container .carousel-control .navarrow-container .navarrow.disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
}