.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carousel-container .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: flex-start;*/
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;  /* hides the scrollbar on firefox */
    height: 35vh;
    width: 100%;
    position: relative;
}
.carousel-container .carousel::-webkit-scrollbar {  /* hides the scrollbar on chrome */
    display: none;
}