* {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans Hebrew" !important;
    outline: none;

    min-height: 0;
    min-width: 0;
}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans Hebrew" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.bold_text {font-weight: bold}

.dir-ltr {
    direction: ltr;
}
