/*
 * Open Sans Hebrew (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-LightItalic.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-LightItalic.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-LightItalic.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-LightItalic.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Light.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Light.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Light.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Light.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Italic.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Italic.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Italic.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Italic.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Regular.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Regular.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Regular.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-BoldItalic.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-BoldItalic.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-BoldItalic.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-BoldItalic.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Bold.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-Bold.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Bold.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Bold.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBoldItalic.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBoldItalic.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBoldItalic.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBold.eot');
  src: url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBold.eot?#iefix') format('embedded-opentype'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBold.woff2') format('woff2'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBold.woff') format('woff'),
	   url('./fonts/opensanshebrew/OpenSansHebrew-ExtraBold.ttf') format('truetype');
}
